__pycache__
figures
matlab_tests
*.DS_Store
data/*
.ipynb_checkpoints
experiments/log/*
experiments/results/*
tests/RAxML_bestTree.dendropy_raxml
tests/RAxML_info.dendropy_raxml
tests/RAxML_log.dendropy_raxml
tests/RAxML_parsimonyTree.dendropy_raxml
tests/RAxML_result.dendropy_raxml
.vscode
*.pyc
